  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
 font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  min-height: 100vh;
  background-image: url('./assest/background.png') ;
  background-size: cover;
  color: black;
}
::-webkit-scrollbar{
  width: 0;
}
.card{
  background-color:white;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  overflow: scroll;
}
.contanier{
  display: flex;
  margin: 70px 0px;
   flex-wrap: wrap;

}